In [2]:
# This cell is from the template notebook. It contains ipython magic and 
# various useful imports which are commonly used in this app.

%load_ext autoreload
%autoreload 2

import pandas as pd
import datetime
import numpy as np
import os
from acoustic_data_science import config, helpers
import matplotlib.pyplot as plt

In [3]:
month_name = '2018_09'
df = pd.read_feather(helpers.feather_path_from_month_name(config.processed_data_path, month_name), columns=['timestamp'])
df.head()

                timestamp
0 2018-09-01 00:10:01.000
1 2018-09-01 00:10:01.500
2 2018-09-01 00:10:02.000
3 2018-09-01 00:10:02.500
4 2018-09-01 00:10:03.000

In [4]:
month_name = '2018_09'
df = pd.read_feather(helpers.feather_path_from_month_name(config.processed_data_path, month_name))
df.head()

,25,32,40,50,63,79,100,126,158,200,...,15849,19953,25119,filename,timestamp,unnormalised_broadband_spl,broadband_spl,background_spl,loud,short_transient
0,80.533096,76.326683,76.718964,70.448555,68.440842,69.057304,63.356987,63.190456,59.221893,55.123482,...,59.001190,60.392841,57.492592,ICLISTENHF1266_20180901T000601.000Z_TOL_1sHann...,2018-09-01 00:10:01.000,83.914771,-63.457730,-64.704858,False,False
1,76.743889,77.956184,80.045074,70.698830,71.553413,66.840843,66.248009,62.963074,60.055782,55.775269,...,58.640213,60.267178,57.267876,ICLISTENHF1266_20180901T000601.000Z_TOL_1sHann...,2018-09-01 00:10:01.500,84.139383,-63.233118,-64.702118,False,False
2,82.007332,77.769318,82.272354,75.834129,71.382378,69.559601,64.215324,59.806664,58.711803,54.028515,...,59.226688,60.547764,57.356274,ICLISTENHF1266_20180901T000601.000Z_TOL_1sHann...,2018-09-01 00:10:02.000,86.816536,-60.555965,-64.696520,False,False
3,80.220245,78.933395,81.122124,76.784615,69.653877,65.784431,65.557518,62.959496,59.062649,56.519257,...,60.467823,60.884201,57.710167,ICLISTENHF1266_20180901T000601.000Z_TOL_1sHann...,2018-09-01 00:10:02.500,86.218142,-61.154359,-64.689340,False,False
4,80.996895,79.341003,80.569382,76.819481,68.621033,66.192070,65.869484,62.391212,56.017723,57.089310,...,58.771893,60.657070,57.411575,ICLISTENHF1266_20180901T000601.000Z_TOL_1sHann...,2018-09-01 00:10:03.000,86.063895,-61.308606,-64.684581,False,False

In [17]:
month_number = int(month_name.split('_')[1])
df[df['timestamp'].dt.month == month_number].reset_index(drop=True)

                      timestamp
0       2018-09-01 00:00:00.000
1       2018-09-01 00:00:00.500
2       2018-09-01 00:00:01.000
3       2018-09-01 00:00:01.500
4       2018-09-01 00:00:02.000
...                         ...
3651844 2018-09-30 23:59:57.500
3651845 2018-09-30 23:59:58.000
3651846 2018-09-30 23:59:58.500
3651847 2018-09-30 23:59:59.000
3651848 2018-09-30 23:59:59.500

[3651849 rows x 1 columns]

In [15]:
month_name
month_name.split('_')
int(month_name.split('_')[1])

9